language:
  python
python:
 - "3.5"
install:
 - pip install -U pip
 - pip install -r requirements.txt
 - pip install coverage
 - pip install codecov
git:
  depth: 50
jobs:
  include:
  - name: "project-1"
    python: "3.8"
script:
  - coverage run -m pytest -q test/
after_success:
  - bash <(curl -s https://codecov.io/bash) -t 02ce7c41-5348-41e4-b13e-5cb01a785bcc
